<div class="task-table-message" *ngIf="tasks.length === 0; else taskTableWrapper">
    <p class="header">You have not task registered yet!</p>
    <p class="subheader">Lets change that</p>
    <button class="btn-primary" (click)="onAddTask()">Add new task</button>
</div>




<ng-template #taskTableWrapper>
    <div class="task-table-wrapper">
        <header>
            <p>{{userName}}'s tasks</p>
            <button class="btn-primary" (click)="onAddTask()">Add new task</button>
        </header>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>description</th>
                        <th>creation date</th>
                        <th>ending date</th>
                        <th>state</th>
                        <th>options</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let task of pagedTasks">
                        <td>{{task.name}}</td>
                        <td>{{task.description}}</td>
                        <td>{{formatDate(task.creationDate)}}</td>
                        <td>{{formatDate(task.endingDate)}}</td>
                        <td [ngSwitch]="task.state">
                            <div class="square" *ngSwitchCase="'creado'" style="background-color: #1f86f3;"></div>
                            <div class="square" *ngSwitchCase="'en proceso'" style="background-color: #eff31f;"></div>
                            <div class="square" *ngSwitchCase="'terminado'" style="background-color: #58f31f;"></div>
                            <div class="square" *ngSwitchCase="'no completado'" style="background-color: #f31f1f;">
                            </div>
                        </td>
                        <td>
                            <div class="options-wrapper">
                                <button (click)="updateTask(task)" class="btn-icon">
                                    <fa-icon [icon]="updateIcon"></fa-icon>
                                </button>
                                <button (click)="deleteTask(task)" class="btn-icon">
                                    <fa-icon [icon]="deleteIcon"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <mat-paginator [length]="tasks.length" [pageSize]="pageSize"
                (page)="handlePageEvent($event)" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</ng-template>