
.notfound-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../assets/images/error-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;    
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.notfound {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  
  h1 {
    font-family: 'poppins';
    font-size: 12rem;
    color: var(--items-color-gradient-sec);
  }
  h2 {
    font-family: 'poppins';
    font-size: 24px;
    margin-top: -100px;
  }

  .btn-link {
    width: 13%;
    height: 40px;
    background-color: var(--items-color-gradient);
    color: #fff;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

