<div class="home-wrapper">

    <div class="sidebar">
        <header>
            <p class="header">Mainboard</p>
        </header>

        <div class="filters">
            <p>Tasks filtering panel</p>
            <div class="filters-wrapper">
                <mat-select name="taskState" [(value)]="filter" (valueChange)="onFilter('state')" #stateSelector>
                    <mat-option value='undefined' disabled>filter by state</mat-option>
                    @for (state of states; track state) {
                    <mat-option value={{state}}>{{state}}</mat-option>
                    }
                </mat-select>
                <button class="btn-secondary" [disabled]="showSearchResults" (click)="onFilter('oldest-todo')">Show
                    oldest to-do</button>
                <button class="btn-secondary" [disabled]="showSearchResults" (click)="onFilter('late-task')">
                    <fa-icon [icon]="clockIcon" />
                    late tasks
                </button>
            </div>
        </div>
    </div>



    <div class="content">
        <header>
            <nav>
                <p class="header title">My Tasks</p>
                <button class="btn-menu" (click)="toggleSidenav()">
                    <span [ngClass]="!opened ? 'toggler-icon top-bar' : 'toggler-icon top-bar-pressed' "></span>
                    <span [ngClass]="!opened ? 'toggler-icon middle-bar' : 'toggler-icon middle-bar-pressed' "></span>
                    <span [ngClass]="!opened ? 'toggler-icon bottom-bar' : 'toggler-icon bottom-bar-pressed' "></span>
                </button>
                <div class="search-wrapper">
                    <div class="input-wrapper">
                        <input type="text" class="input-sec" placeholder="type a word..." name="taskName"
                            pattern="^[a-zA-Z0-90-9áéíóúÁÉÍÓÚñÑ\s]+$" #taskName="ngModel" [(ngModel)]="searchStr"
                            required="">

                        <button type="button" class="btn-search-icon" (click)=" onFilter('search')"
                            [disabled]="taskName.invalid">
                            <fa-icon [icon]="searchIcon" />
                        </button>
                    </div>
                </div>
                <div class="options-wrapper">
                    <button class="btn-icon" (click)="onChangeMode()">
                        <fa-icon [icon]="modeIcon" />
                    </button>
                    <button class="btn-icon" (click)="onUserMenu()">
                        <fa-icon [icon]="userIcon" />
                    </button>

                    <div [ngClass]="{'user-menu-show': !userMenuHide , 'user-menu-hide': userMenuHide}">

                        <div class="menu-item">
                            <button class="btn-options" (click)="onLogout()">
                                <fa-icon [icon]="logoutIcon"></fa-icon>
                                <p>log out</p>
                            </button>
                        </div>


                    </div>
                </div>

            </nav>
        </header>


        <mat-sidenav-container>
            <mat-sidenav [(opened)]="opened">
                <header>
                    <p class="header">Mainboard</p>
                </header>

                <div class="filters">
                    <p>Tasks filtering panel</p>
                    <div class="filters-wrapper">
                        <mat-select name="taskState" [(value)]="filter" (valueChange)="onFilter('state')"
                            #stateSelector>
                            <mat-option value='undefined' disabled>filter by state</mat-option>
                            @for (state of states; track state) {
                            <mat-option value={{state}}>{{state}}</mat-option>
                            }
                        </mat-select>
                        <button class="btn-secondary" [disabled]="showSearchResults"
                            (click)="onFilter('oldest-todo')">Show
                            oldest to-do</button>
                        <button class="btn-secondary" [disabled]="showSearchResults" (click)="onFilter('late-task')">
                            <fa-icon [icon]="clockIcon" />
                            late tasks
                        </button>
                    </div>
                </div>

                <div class="search-wrapper">
                    <div class="input-wrapper">
                        <input type="text" class="input-sec" placeholder="type a word..." name="taskName"
                            pattern="^[a-zA-Z0-90-9áéíóúÁÉÍÓÚñÑ\s]+$" #taskName="ngModel" [(ngModel)]="searchStr"
                            required="">

                        <button type="button" class="btn-search-icon" (click)=" onFilter('search')"
                            [disabled]="taskName.invalid">
                            <fa-icon [icon]="searchIcon" />
                        </button>
                    </div>
                </div>

            </mat-sidenav>
            <mat-sidenav-content>
                <div class="main-content" *ngIf="!showSearchResults">
                    <ng-container *ngIf="user.name !== '' ">
                        <app-task-table [userName]="user.name" (taskAdded)="onAddTask($event)"
                            (taskRemoved)="onRemoveTask($event)" (taskUpdated)="onUpdateTask($event)" />
                    </ng-container>
                </div>

                <div class="main-content" *ngIf="showSearchResults">
                    <header>
                        <p>Search results</p>
                        <button class="btn-primary custom-primary" (click)="onEndSearch()">Back to tasks list</button>
                        <button class="btn-icon btn-icon-custom" (click)="onEndSearch()">
                            <fa-icon [icon]="returnIcon" />
                        </button>
                    </header>
                    <div class="table-wrapper">
                        <app-task-table [userName]="user.name" (taskAdded)="onAddTask($event)"
                            (taskRemoved)="onRemoveTask($event)" (taskUpdated)="onUpdateTask($event)"
                            [inputTasks]="tasks" />
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <div class="footer">
        <div class="row">
            <p>Created with </p><fa-icon [icon]="loveIcon" class="heart-icon" />
            <p> and </p><fa-icon [icon]="coffeIcon" class="coffee-icon" />
        </div>


    </div>

</div>