.content-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form-wrapper {
    height: 40rem;
    gap: 20px;
    .btn-icon {
        position: absolute;
        margin-left: 80%;
        color: var(--bg);
        cursor: pointer;
    }

}