<div class="content-wrapper">
    <div class="form-wrapper">
        <p class="header">Register</p>
        <form #customform="ngForm" class="custom-form" id="login-form" (ngSubmit)="onSubmit()">            
            <div class="inputs-container">
                <div class="input-wrapper">
                    <input type="text" class="input" placeholder="name" name="userName"
                        pattern="^[a-zA-Z0-90-9áéíóúÁÉÍÓÚñÑ\s]+$" #userName="ngModel"
                        [style.border]="!userName.valid && userName.touched ? '1px solid red':'1px solid #fff' "
                        [(ngModel)]="name" required>
                    <div class="input-icon">
                        <fa-icon [icon]="nameIcon" />
                    </div>
                </div>

                <div class="input-wrapper">
                    <input type="email" class="input" placeholder="email" name="userEmail"
                        pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$" #userEmail="ngModel"
                        [style.border]="!userEmail.valid && userEmail.touched ? '1px solid red':'1px solid #fff' "
                        [(ngModel)]="email" required>
                    <div class="input-icon">
                        <fa-icon [icon]="emailIcon" />
                    </div>
                </div>
    
                <div class="input-wrapper">
                    <input type="{{ showPassword ? 'text' : 'password' }}" class="input" placeholder="password"
                        name="userPassword" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^\w\d\s:])([^\s]){8,}$"
                        [style.border]="!userPassword.valid && userPassword.touched  ? '1px solid red':'1px solid #fff' "
                        #userPassword="ngModel" [(ngModel)]="password" required>
                    <div class="input-icon">
                        <fa-icon [icon]="passIcon" />
                    </div>
                    <button type="button" class="btn-icon" (click)="onShowPassword('password')">
                        <fa-icon [icon]="showIcon" />
                    </button>                   
                </div>

                <div class="input-wrapper">
                    <input type="{{ showPasswordConfirmation ? 'text' : 'password' }}" class="input" placeholder="password confirmation"
                        name="userPasswordConfirmation" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^\w\d\s:])([^\s]){8,}$"
                        [style.border]="!userPasswordConfirmation.valid && userPasswordConfirmation.touched  ? '1px solid red':'1px solid #fff' "
                        #userPasswordConfirmation="ngModel" [(ngModel)]="passwordConfirmation" required>
                    <div class="input-icon">
                        <fa-icon [icon]="passIcon" />
                    </div>
                    <button type="button" class="btn-icon" (click)="onShowPassword('confirmation')">
                        <fa-icon [icon]="showConfIcon" />
                    </button>                   
                </div>


            </div>           

            <button type="submit" class="btn-custom" [disabled]="customform.invalid || password != passwordConfirmation">Sign up</button>
        </form>

        <div class="redirection-wrapper">
            <p>Already have an account? just sign in
                <a class="redirection-link" [routerLink]="['/login']">here</a>
            </p>
        </div>
    </div>
</div>
