<div class="modal-wrapper">
    <div class="titleSelection" [ngSwitch]="data.form">
        <h2 mat-dialog-title *ngSwitchCase="'addTask'">Another task to the list...</h2>
        <h2 mat-dialog-title *ngSwitchCase="'updTask'">Lets change something here...</h2>        
    </div>


    <mat-dialog-content [ngSwitch]="data.form">
        <!--Add task form-->
        <form #customForm="ngForm" class="custom-form" id="add-form" *ngSwitchCase="'addTask'">
            <div class="input-wrapper">
                <input type="text" class="input-alt" placeholder="name" name="taskName"
                    pattern="^[a-zA-Z0-90-9áéíóúÁÉÍÓÚñÑ\s]+$" #taskName="ngModel"
                    [style.border]="!taskName.valid && taskName.touched ? '1px solid red':'1px solid var(--text-color)' "
                    [(ngModel)]="task.name" required>
                <div class="input-icon-alt">
                    <fa-icon [icon]="taskIcon" />
                </div>
            </div>

            <div class="input-wrapper">
                <textarea class="input-text" placeholder="description" name="taskDesc" #taskDesc="ngModel"
                    [(ngModel)]="task.description" required></textarea>
            </div>

            <div class="input-wrapper">
                <input type="text" class="input-alt date-input" placeholder="ending date" [min]="minDate" name="taskEnd" id="date"
                        #taskEnd="ngModel" [(ngModel)]="date" onfocus="(this.type='date')" onblur="(this.type='text')"
                        (ngModelChange)="onDateChange($event)" required>                

                
                <div class="input-icon-alt">
                    <fa-icon [icon]="dateIcon" />
                </div>
            </div>

            <mat-dialog-actions>
                <button class="btn btn-success" [mat-dialog-close]="data.dataObject" (click)="onSubmit()" [disabled]="customForm.invalid">Submit</button>
                <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
            </mat-dialog-actions>
        </form>
        <!--Update task form-->
        <div *ngIf="updateTaskData, else updateState">
            <form #customForm="ngForm" class="custom-form" id="upd-form" *ngSwitchCase="'updTask'">
                <div class="input-wrapper">
                    <input type="text" class="input-alt" placeholder="name" name="taskName"
                        pattern="^[a-zA-Z0-90-9áéíóúÁÉÍÓÚñÑ\s]+$" #taskName="ngModel"
                        [style.border]="!taskName.valid && taskName.touched ? '1px solid red':'1px solid var(--text-color)' "
                        [(ngModel)]="taskUpdate.name" required>
                    <div class="input-icon-alt">
                        <fa-icon [icon]="taskIcon" />
                    </div>
                </div>

                <div class="input-wrapper">
                    <textarea class="input-text" placeholder="description" name="taskDesc" #taskDesc="ngModel"
                        [(ngModel)]="taskUpdate.description" required></textarea>
                </div>

                <div class="input-wrapper">
                    <input type="text" class="input-alt date-input" placeholder="ending date" [min]="minDate" name="taskEnd"
                        #taskEnd="ngModel" [(ngModel)]="date" onfocus="(this.type='date')" onblur="(this.type='text')"
                        (ngModelChange)="onDateChange($event)" required>
                    <div class="input-icon-alt">
                        <fa-icon [icon]="dateIcon" />
                    </div>
                </div>

                <mat-select name="taskState" [(value)]="taskUpdate.state">
                    @for (state of states; track state) {
                    <mat-option value={{state}}>{{state}}</mat-option>
                    }
                </mat-select>

                <mat-dialog-actions>
                    <button class="btn btn-success" [mat-dialog-close]="data.dataObject" (click)="onSubmit()" [disabled]="customForm.invalid">Submit</button>
                    <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
                </mat-dialog-actions>
            </form>
        </div>

        <ng-template #updateState>
            <form #customForm="ngForm" class="custom-form" id="upd-form" *ngSwitchCase="'updTask'">
                <p>Only a change in the task status is allowed</p>
                <mat-select name="taskState" [(value)]="taskUpdate.state">
                    <mat-option value="en progreso" disabled>en progreso</mat-option>
                    <mat-option value="terminado">terminado</mat-option>
                    <mat-option value="no completado">no completado</mat-option>
                </mat-select>

                <mat-dialog-actions>
                    <button class="btn btn-success" [mat-dialog-close]="data.dataObject" (click)="onSubmit()" [disabled]="customForm.invalid">Submit</button>
                    <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
                </mat-dialog-actions>
            </form>
        </ng-template>       


    </mat-dialog-content>
   
</div>