.modal-wrapper {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: var(--bg);

    h2 {
        font-family: 'poppins';
        color: var(--text-color);
    }   
    .custom-form {
        width: 410px;        


        .date-input {
            width: 75%;
            padding-right: 20px;
        }
        
    }

    #upd-form {
        margin-top: -20px;
        mat-select {
            width: 80%;
            height: 2rem;
            border-radius: 0.5rem;
            padding: 5px 20px 0 20px;
            border: 1px solid var(--text-color);
            color: var(--text-color);
            margin: 0 auto;
        }
        
    }

    mat-dialog-actions {
        width: 100%;
        display: flex;        
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    
}